main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    min-height: 100vh;
    padding: 3rem;

    background: var(--radial-gradient);
}

.rules_btn {
    position: fixed;
    right: 3rem;
    bottom: 3rem;

    color: var(--white);

    background-color: transparent;
    border: 1px solid var(--white);
}
