.moveButton {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1/1;
    width: 40%;
    padding: 2rem;

    border: 24px solid transparent;
    border-radius: 50%;

    transition: translate 0.3s;

    &:hover {
        translate: 0 -8px 0;
    }

    &.scissors {
        background: linear-gradient(white, white) padding-box, var(--scissors) border-box;
    }

    &.paper {
        background: linear-gradient(white, white) padding-box, var(--paper) border-box;
    }

    &.rock {
        background: linear-gradient(white, white) padding-box, var(--rock) border-box;
    }

    img {
        min-width: 12px;
    }

    @media (--phone) {
        width: 40%;
        height: 40%;
    }
}
